SPRING_PROFILES_ACTIVE=
DB_URL=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
JWT_SECRET=
MAIL_PASSWORD=
MAIL_USERNAME=
GOOGLE_CLIENT_ID=
FIREBASE_CREDENTIALS_JSON=
BASE_URL=
DOMAIN=
SSL_EMAIL=
R2_ENDPOINT=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=signa-animations
